{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row mb-5 mt-5">
            </div>
            <div class="row mb-5 mt-5">
                <div class="col text-center">
                    <h1>Connecte-toi maintenant</h1>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md mb-5">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% for message in app.flashes('registration-success') %}
                            <div class="alert alert-success">
                                <i class="fas fa-info"></i> {{ message }}
                            </div>
                        {% endfor %}
                        <div class="row justify-content-center">
                            <div class="md-5">
                                <div class="form-group">
                                    <label for="inputEmail" class="sr-only">{{'Email'|trans|raw}}</label>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fas fa-envelope"></i></div>
                                        </div>
                                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="{{ 'Enter an email from User\'s fixture'|trans|raw}}" required autofocus>
                                    </div>
                                    <small id="emailHelp" class="form-text text-muted">{{'We\'ll never share your email with anyone else'|trans|raw}}.</small>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="sr-only">{{'Password'|trans|raw}}</label>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fas fa-lock"></i></div>
                                        </div>
                                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="{{ 'Enter a password from User\'s fixture'|trans|raw}}" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <button type="submit" class="btn btn-primary">{{'Connexion'|trans|raw}} !</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}
