{% extends 'base.html.twig' %}

{% block description %}Accueil{% endblock %}

{% block title %}Accueil{% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('index') }}
    {% endblock %}


{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div id="map" class="jumbotron">
                        <h2 class="display-3">Viens jouer !</h2>
                        <p class="lead">Relève les défis !</p>
                        <div class="text-center">
                            <a class="btn btn-success btn-lg" href="{{ path('map') }}" role="button">Have fun !</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12">
                    <div id="quizz" class="jumbotron">
                        <h2 class="display-3">Quizz</h2>
                        <p class="lead">Teste tes connaissances</p>
                        <div class="text-center">
                            <a class="btn btn-success btn-lg" href="{{ path('quizz_index') }}" role="button">Let's go !</a>
                        </div>
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div id="know" class="jumbotron">
                            <h2 class="display-3">Le savais-tu ?</h2>
                            <p class="lead">Relève les défis !</p>
                            <div class="text-center">
                                <a class="btn btn-success btn-lg" href="{{ path('know') }}" role="button">Let's go !</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('index') }}
{% endblock %}
