{% extends 'base.html.twig' %}

{% block description %}Accueil{% endblock %}

{% block title %}Accueil{% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('index') }}
    {% endblock %}


{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div id="map" class="exemple">
                        <div id="map-cercle" style="padding: 24%">
                            <h3 class="text-center">Viens jouer !</h3>
                            <p class="text-center">Relève les défis !</p>
                            <div class="text-center">
                                <a class="btn btn-success btn-lg" href="{{ path('map') }}" role="button">Have fun !</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div id="map" class="exemple">
                        <b class="cercle" style="padding: 12%">
                            <h3 class="text-center">Quizz</h3>
                            <p class="text-center">Teste tes connaissances</p>
                            <div class="text-center">
                                <a class="btn btn-success" href="{{ path('quizz_index') }}" role="button">Go !</a>
                            </div>
                        </b>
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="offset-md-3 col-md-6 col-xs-12">
                        <div id="map" class="exemple">
                            <b class="cercle" style="padding: 20%">
                                <h3 class="text-center">Le sais-tu</h3>
                                <div class="text-center" style="padding-top: 3%">
                                    <a class="btn btn-success btn-lg" href="{{ path('know') }}" role="button">Go !</a>
                                </div>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('index') }}
{% endblock %}
