{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Gaëtan Rolé-Dubruille">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <title>Starter - {% block title %}{% endblock %}</title>

    {{ encore_entry_link_tags('app') }}

    {% block stylesheets %}
    {% endblock %}

    <link rel="icon" href="{{ asset('build/assets/images/favicon.ico') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('build/assets/images/favicon.ico') }}">
    <link rel="apple-touch-icon" type="image/x-icon" href="{{ asset('build/assets/images/favicon.ico') }}">
</head>
<body>
<header>
    {% block header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <a class="navbar-brand" href="{{ path('index') }}">
            <img src="{{ asset('build/assets/images/cultivons-malin-logo.png') }}" alt="Logo Captain America">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link text-success" href="{{ path('map') }}">Jeu
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-success" href="{{ path('quizz_index') }}">Quizz
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-success" href="">Le saviez-vous
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-secondary" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Profil</a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
                            <a class="dropdown-item text-success" href="{{ path('user_index') }}">Mon profil</a>
                            <a class="dropdown-item text-success" href="{{ path('app_logout') }}">Me déconnecter</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-success" href="{{ path('user_registration') }}">
                            Inscription
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success" href="{{ path('app_login') }}">
                            Connexion
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% endblock %}
</header>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>

{% block body %}{% endblock %}
<footer>
    {% block footer %}
        <div class="container-fluid">
            <div class="card border-success">
                <div class="text-center">PUB !!!!!!</div>
            </div>

        </div>
    {% endblock %}
</footer>

{{ encore_entry_script_tags('app') }}

{% block javascripts %}
{% endblock %}
</body>
</html>